@import url(https://fonts.googleapis.com/css?family=Open+ Sans);
.btn{
    display: inline-block;
    *display:inline;
    *zoom:1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 10px;  
    color: #333333;
    text-align: center;
    text-shadow: 4px;
}
.btn:hover .btn:active .btn.disable .btn.active .btn[disabled] {background-color: #e6e6e6; }

